{% extends "layouts/base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}
<!-- SEARCH FIELD AREA -->
{% include "common/searchbox.html" %}
<!-- END SEARCH FIELD AREA -->
<!-- MAIN SECTION -->
<div class="container featured-area-default padding-30">
    <div class="row">
        <div class="col-md-8 padding-20">
            <!-- LATEST VIDEO TUTORIAL AREA -->
            <!-- <div class="row margin-bottom-30">
                <div class="col-md-12">
                    <div class="row">
                        <div class="featured-box">
                            <div class="fb-heading">
                                Latest Video Tutorial
                                <div class="fb-sub-heading">
                                    <b>New to gomac?</b> Watch the video below to get started
                                    <br>
                                </div>
                            </div>
                            <hr class="style-three">
                            <div class="fb-content">
                                <iframe src="https://player.vimeo.com/video/144748647" width="100%" height="360"
                                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- END LATEST VIDEO TUTORIAL AREA -->

            <!-- ARTICLE CATEGORIES SECTION -->
            <div class="row">
                <div class="col-md-12">
                    <div class="fb-heading">
                        Article Categories
                    </div>
                    <hr class="style-three">
                    <div class="row" id="posts">
                        {% for cat in categories %}
                        {% if cat.pages|length > 0 %}
                        <div class="item col-md-6 margin-bottom-20">
                            <div class="fat-heading-abb">
                                <a href="{% url 'page_category_wise' slug=cat.id %}">
                                    <i class="fa fa-folder"></i> {{cat.category}}
                                    <span class="cat-count">({{cat.pages|length}})</span>
                                </a>
                            </div>
                            <div class="fat-content-small padding-left-30">
                                <ul>
                                    {% for page in cat.pages|slice:":5" %}
                                    <li>
                                        <a href="{% url 'article' slug=page.id permalink=page.permalink %}">
                                            <i class="fa fa-file-text-o"></i>{{page.page_heading}}
                                            <br> (<span class="text-primary">Last updated on - {{page.created_at|date:"d M,Y"}}</span>)
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'knowledge_base' %}" class="btn btn-primary pull-right">
                    <i class="fa fa-align-justify"></i> View All
                </a>
            </div>
        </div>
        
        <!-- END ARTICLES CATEOGIRES SECTION -->
        <!-- SIDEBAR STUFF -->
        {% include "common/sidebar.html" %}
        <!-- END SIDEBAR STUFF -->
    </div>
</div>
<!-- END MAIN SECTION -->

<!-- ABOUT CONTAINER BOTTOM -->
<!-- <div class="container-fluid featured-area-grey padding-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="fb-heading">
                    About Us
                </div>
                <div class="fb-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum ultricies magna sed
                        tincidunt. Nullam aliquet est
                        eu magna suscipit ornare. Sed venenatis eget turpis imperdiet vulputate. Pellentesque in lectus
                        arcu. Vestibulum scelerisque, massa vitae suscipit accumsan, ex tellus eleifend ante, ut
                        accumsan
                        quam risus eu leo. Phasellus vel diam id elit ultrices feugiat. Quisque sed massa in quam
                        pulvinar
                        volutpat ut sed risus.
                    </p>
                    <p>
                        Sed eget ultricies lectus. Nulla in porttitor libero. Suspendisse potenti. Etiam iaculis in
                        augue eu volutpat. Pellentesque
                        fringilla orci enim, ut vehicula mauris aliquet quis. Etiam sed rutrum justo. Etiam faucibus
                        consequat ipsum, a pharetra quam bibendum eget. Fusce a consequat mauris, vel vestibulum dolor.
                        Nam ornare enim eget ante pharetra condimentum. Donec feugiat arcu eu arcu faucibus, id ornare
                        enim venenatis. Suspendisse nisi felis, mattis in hendrerit a, pretium posuere mauris.
                        Suspendisse
                        in ante in odio maximus ultrices.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- END ABOUT CONTAINER BOTTOM -->
{% endblock content %}
{% block scripts %}
<script>
    //the following script is used to keep categories in position
    $.getScript('//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js', function () {
        /* activate jquery isotope */
        $('#posts').imagesLoaded(function () {
            $('#posts').isotope({
                itemSelector: '.item'
            });
        });

    }); 
</script>
{% endblock scripts %}