<div class="col-md-2 padding-20">
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="fb-heading-small">
            Masters
        </div>
        <hr class="style-three">
        <div class="fat-content-small padding-left-10">
            <ul>
                <li>
                    <a href="{% url 'page_list' %}">
                        <i class="fa fa-file-text-o"></i>Submited Pages</a>
                </li>
                <li>
                    <a href="{% url 'edited_page_list' %}">
                        <i class="fa fa-file-text-o"></i>Edited Pages</a>
                </li>
                <li>
                    <a href="{% url 'page_categories_list' %}">
                        <i class="fa fa-file-text-o"></i>Categories</a>
                </li>
            </ul>
        </div>

    </div>
</div>
</div>